@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
.myclass {
  font-family: "Poppins", sans-serif;
  background: #011f4b;
}
.rowclass {
  width: 930px;
}
.rightclass {
  padding: 40px 30px 40px 40px;
}
.mytext {
  transform: translate(0px, 28px);
}
.formclass ::placeholder {
  font-size: 16px;
}
.colclass {
  border-radius: 20px;
}
.rowclass {
  border-radius: 30px;
}
.mybtn {
  background-color: #005b96;
  color: white;
}
@media only screen and (max-width: 768px) {
  .rowclass {
    margin: 0 10px;
  }
  .colclass {
    height: 100px;
    overflow: hidden;
  }
  .rightclass {
    padding: 20px;
  }
}
